<%#
# Flash Partial

This partial renders flash messages on every page.

## Relevant Helpers:

- `flash`:
  Returns a hash,
  where the keys are the type of flash (alert, error, notice, etc)
  and the values are the message to be displayed.
%>

<% if flash.any? %>
	<% flash.each do |key, value| -%>
	  <div class="alert alert-<%= key %>"><%= value.html_safe %></div>
	<% end -%>
<% end %>
