<%#
# Navigation

This partial is used to display the navigation in Administrate.
By default, the navigation contains navigation links
for all resources in the admin dashboard,
as defined by the routes in the `admin/` namespace
%>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to(t("Illam"), root_url, class: "bunavbar-brand") if defined?(root_url) %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <% Administrate::Namespace.new(namespace).resources_with_index_route.each do |resource| %>
          <li class="nav-item #{nav_link_state(resource)}">
            <%= link_to(
              display_resource_name(resource),
              resource_index_route(resource),
              class: "nav-link"
            ) if valid_action?(:index, resource) && show_action?(:index, model_from_resource(resource)) %>
         </li>
         <% end %>
         <li class="nav-item">
            <%= form_for(current_user, as: current_user,
                url: destroy_user_session_path, html: { method: :delete }) do |f| %>
              <%= f.submit "Log out" %>
            <% end %>
        </li>
      <% else %>
          <li class="nav-item">
            <%= link_to('Login', new_user_session_path) %>
          </li>
          <li class="nav-item">
            <%= link_to('Register', new_user_registration_path) %>
          </li>
      <% end %>
    </ul>
  </div>
</nav>