<%#
# Date Form Partial

This partial renders an input element for a date attribute.
By default, the input is a text field that is augmented with [DateTimePicker].

## Local variables:

- `f`:
  A Rails form generator, used to help create the appropriate input fields.
- `field`:
  An instance of [Administrate::Field::Date][1].
  A wrapper around the Date value pulled from the database.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Field/Date
[DateTimePicker]: https://github.com/Eonasdan/bootstrap-datetimepicker
%>

<%= f.label field.attribute %>
<div class="input-group">
    <%= f.text_field field.attribute, class: "form-control custom-datepicker"  %>
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
    </div>
</div>
